
.container-fluid{
    margin-top: 58px;
}
.lefttogglemenu{
    position: fixed;
    top:22%;
    left: 0;
    width: 50px;
    height: 44px;
    padding: 4px 8px;
    outline: none;
    color: rgba(52,58,64,1);
    cursor: pointer;
    background: transparent;
    box-sizing: border-box;
    transition: all 0.5s ease-in-out;
    z-index: 10000;
    opacity: 0.5;
}
.lefttogglemenu span {
    width: 100%;
    height: 8px;
    display: block;
    background-color:#59adeb; 
    margin: 6px 0;
    transition: .5s;
}

.lefttogglemenu:hover{
    color: #e41918;
}

.lefttogglemenu span{
    position: absolute;
    left: 0;
    width: calc(100%-16px);
    top:calc(100%-8px);
}
.lefttogglemenu span:nth-child(1){
    margin: 8px 23px;
    width: 55%;
    transform: rotate(-45deg);
}

.lefttogglemenu span:nth-child(3){
    margin: -8px 23px;
    width: 55%;
    transform: rotate(45deg);
}

.lefttogglemenu span:nth-child(2){
    margin: -1px 6px;
    height: 10px;
    width: 70%;
}

.lefttogglemenu.active{
    left:220px;
    opacity: 1;
    transition: all 0.5s ease-in-out;
}
.lefttogglemenu.active span{
    position: absolute;
    width: calc(100%-16px);
    top:calc(100%-8px);
}

.lefttogglemenu.active span:nth-child(1){
    margin: 0.6px -5px;
    width: 55%;
    transform: rotate(-45deg);
}

.lefttogglemenu.active span:nth-child(3){
    margin: 17px -5px;
    width: 55%;
    transform: rotate(45deg);
}

.lefttogglemenu.active span:nth-child(2){
    margin: 8px -0.2px;
    width: 80%;
}

.sidebar_menu{
    position: fixed;
    top: 9%;
    width: 220px;
    left: -220px;
    margin-left: -15px;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 90%;
    max-height: 100vh;
    background-color: rgba(52,58,64,1);
    transition: all 0.5s ease-in-out;
    z-index: 10000;

}
.sidebar_menu.active{
    left: 10px;
}
.sidebar_menu::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color:white ;
}

.sidebar_menu::-webkit-scrollbar
{
    width: 6px;
    background-color: white;
}

.sidebar_menu::-webkit-scrollbar-thumb
{
    background-color:rgba(89,173,235,.7) ;
}

.boxed-item{
    font-weight: 300;
    padding: 10px 20px;
    border: solid 2px white;
    box-sizing: border-box;
    font-size: 22px;
    color: white;
    text-align: center;
    margin-top: 50px;
    text-decoration: none;
}
.logo-bold{
    font-weight: 800;
}

.navigation-selection{
    margin: 10px -25px;
    display: block;
    width: 200px;
}

.navigation-item{
    list-style: none;
    text-decoration: none;    
}
.navigation-item a{
    margin-left: 0;
    font-weight: 200;
    color: white;
    padding: 6px 0;
    box-sizing: border-box;
    font-size: 16px;
    color: #D8d8d8;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.navigation-item a:hover{
    color:#D23938;
}
.dropdown-divide{
    width: 10px;
    height: 10px;
    margin-top: 5000px;
    background-color: red;
}

#document{
    margin-top:150px;
}
.col-md-8 , .col-md-7{
    margin: 0 auto;
}

.subtitle{
    color: #D23938;
}
/*==========  Media queries for test ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {

}

/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
    .bootsidemenu {
        min-width: 200px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
    .bootsidemenu {
        min-width: 90%;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {

}
